name: End-to-end user journey tests
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]
jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['18.0.0', 'lts/*']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Github token
        uses: navikt/github-app-token-generator@v1
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}

      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: corepack enable
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          # Should match the `DENO_VERSION_RANGE` from https://github.com/netlify/edge-bundler/blob/main/node/bridge.ts#L17
          deno-version: v2.2.4
      - run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm run test:e2e
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: blob-report-${{ matrix.node-version }}
          path: blob-report/
          retention-days: 30
