name: Publint
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - '**'
      - '!release-please--**'
  merge_group:
jobs:
  publint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - run: git config --global core.symlinks true
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: corepack enable pnpm
      - name: Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          # Should match the `DENO_VERSION_RANGE` from https://github.com/netlify/build/blob/8ff162649f76a9586dd7593198c0fa798dac3629/packages/edge-bundler/node/bridge.ts#L22
          deno-version: v2.4.2
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm run build:packages
      - name: Publint
        run: pnpm run --filter '@netlify/*' publint
