name: release-please
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: navikt/github-app-token-generator@757386febfca7206eca81593f81558cd99bcee12
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ steps.get-token.outputs.token }}
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.releases_created }}
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          # Should match the `DENO_VERSION_RANGE` from https://github.com/netlify/build/blob/8ff162649f76a9586dd7593198c0fa798dac3629/packages/edge-bundler/node/bridge.ts#L22
          deno-version: v2.4.2
        if: ${{ steps.release.outputs.releases_created }}
      - run: corepack enable
      - name: Install dependencies
        run: pnpm install
      - run: pnpm build:packages
        if: ${{ steps.release.outputs.releases_created }}
      - name: Authenticate pnpm
        run: pnpm config set '//registry.npmjs.org/:_authToken' "${NPM_AUTH_TOKEN}"
        if: ${{ steps.release.outputs.releases_created }}
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: pnpm -r publish --filter "@netlify/*"
        env:
          NPM_CONFIG_PROVENANCE: true
        if: ${{ steps.release.outputs.releases_created }}
