name: Adapter Tests

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Installing Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          check-latest: true
      - run: corepack enable
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          # Should satisfy the `DENO_VERSION_RANGE` from https://github.com/netlify/edge-bundler/blob/main/node/bridge.ts#L17
          deno-version: v2.2.4
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm run build:packages
      - name: Linting
        run: pnpm run format:check
      - name: Typecheck
        run: pnpm run typecheck
        if: always()
      - name: Unit Tests
        run: pnpm run test:unit
        if: always()
