name: Adapter Tests

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Installing Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: corepack enable
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          # Should match the `DENO_VERSION_RANGE` from https://github.com/netlify/build/blob/8ff162649f76a9586dd7593198c0fa798dac3629/packages/edge-bundler/node/bridge.ts#L22
          deno-version: v2.4.2
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm run build:packages
      - name: Linting
        run: pnpm run format:check
      - name: Typecheck
        run: pnpm run typecheck

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: ['20.6.1', '24']

    steps:
      - uses: actions/checkout@v4
      - name: Installing Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: corepack enable
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          # Should match the `DENO_VERSION_RANGE` from https://github.com/netlify/build/blob/8ff162649f76a9586dd7593198c0fa798dac3629/packages/edge-bundler/node/bridge.ts#L22
          deno-version: v2.4.2
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm run build:packages
      - name: Unit Tests
        run: pnpm run test:unit
